{% extends 'admins/pages/base.html '%}
{% block content %}
{% load static %}
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                  <i class="mdi mdi-home"></i>
                </span> Dashboard
              </h3>
              
            </div>

            <!--changes should be made within this block-->
            <div class="row">
              <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-danger card-img-holder text-white">
                  <div class="card-body">
                    <img src="{% static 'assets/admins/assets/images/dashboard/circle.svg'%}" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">Biology <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                    </h4>
                    <h1 class="mb-5">{{ count_biology }}</h1>
                    {% comment %} <h6 class="card-text">Published and Unpublished</h6> {% endcomment %}
                  </div>
                </div>
              </div>



              <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-info card-img-holder text-white">
                  <div class="card-body">
                    <img src="{% static 'assets/admins/assets/images/dashboard/circle.svg'%}" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">Chemistry <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                    </h4>
                    <h1 class="mb-5">{{ count_chemistry }}</h1>
                    {% comment %} <h6 class="card-text">Published and Unpublished</h6> {% endcomment %}
                  </div>
                </div>
              </div>


              <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-success card-img-holder text-white">
                  <div class="card-body">
                    <img src="{% static 'assets/admins/assets/images/dashboard/circle.svg'%}" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">Physics<i class="mdi mdi-diamond mdi-24px float-right"></i>
                    </h4>
                    <h1 class="mb-5">{{ count_biology }}</h1>
                    {% comment %} <h6 class="card-text">Published and Unpublished</h6> {% endcomment %}
                  </div>
                </div>
              </div>



              <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-info card-img-holder text-white">
                  <div class="card-body">
                    <img src="{% static 'assets/admins/assets/images/dashboard/circle.svg'%}" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">Mathematics<i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                    </h4>
                    <h1 class="mb-5">{{ count_biology }}</h1>
                    {% comment %} <h6 class="card-text">Published and Unpublished</h6> {% endcomment %}
                  </div>
                </div>
              </div>


              <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-primary card-img-holder text-white">
                  <div class="card-body">
                    <img src="{% static 'assets/admins/assets/images/dashboard/circle.svg'%}" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">Past papers <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                    </h4>
                    <h1 class="mb-5">{{ count_biology }}</h1>
                    {% comment %} <h6 class="card-text">Published and Unpublished</h6> {% endcomment %}
                  </div>
                </div>
              </div>

              <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-danger card-img-holder text-white">
                  <div class="card-body">
                    <img src="{% static 'assets/admins/assets/images/dashboard/circle.svg'%}" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">Feedbacks<i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                    </h4>
                    <h1 class="mb-5">{{ count_biology }}</h1>
                    {% comment %} <h6 class="card-text">Published and Unpublished</h6> {% endcomment %}
                  </div>
                </div>
              </div>


            </div>
            <!--changes should end here-->
    
          </div>

{% endblock %}