{% extends 'admins/pages/base.html '%}
{% block content %}
{% load static %}
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h2 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                  <i class="mdi mdi-book"></i>
                </span> Biology Contents
              </h2>
              
            </div>

            <!--changes should be made within this block-->
            <div class="row">
              <div class="col-md-12">
                        
         
            <div class="card">
              <div class="card-header">
              <h3>Biology Contents
              </div>

              <div class="card-body">
                {% if my_physics %} 
                <h2>{{ my_physics.title }}</h2>
                <br>
                 {% if my_physics.image %}
                <img src="{{ my_physics.image.url }}" height="533" width="800" alt="image" class="img img-fluid">
                {% else %}
                 <p>Recent content</p>
                 {% endif %}
                 <br/>
                 <br/>
                <p style="text-align: justify; line-height:1.7;" class="paragraph">
                {{ my_physics.description }}
                </p>
                <br>
                {% if my_physics.pdf_file %}
                 <a href="{{ my_physics.pdf_file.url }}" class="btn btn-primary">Download pdf file</a>
                 {% else %}
                 <p class="text text-danger">No pdf file for this content</p>
                 {% endif %}
                <br>
                <br>
                <p>Publisher -  <i>{{ my_physics.publisher }}</i> </p>
                <br>
                <br>
                <p>Published at - <i>{{ my_physics.time|date:'Y-m-d'}}</i> </p>
                {% endif %}

                
              </div>
            </div>
          </div>
            <!--changes should end here-->
    
          </div>
          </div>


{% endblock %}